<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.empmanagement.mapper.UsersMapper">

    <resultMap id="usersMap" type="com.empmanagement.model.Users">
        <id column="id" property="id"/>
        <result column="account" property="account"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="phone" property="phone"/>
    </resultMap>

    <select id="findByName" resultType="com.empmanagement.model.Users">
        SELECT id, account, username , phone ,version
        FROM users
        WHERE username like CONCAT('%',#{name},'%')
    </select>

    <select id="findByAccount" resultType="com.empmanagement.model.Users">
        SELECT account, password
        FROM users
        WHERE account = #{account}
          AND password = #{password}
    </select>

    <select id="findById" resultType="com.empmanagement.model.Users">
        SELECT *
        FROM users
        WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="com.empmanagement.model.Users">
        INSERT INTO users (account, username, password, phone ,version)
        VALUES (#{account}, #{username}, #{password}, #{phone} ,1)
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
            SELECT LASTVAL()
        </selectKey>
    </insert>

    <delete id="deleteById">
        DELETE FROM users WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="updateUser" parameterType="com.empmanagement.model.Users">
        UPDATE users
        SET account=#{account},
            username=#{username},
            phone=#{phone},
            version=version + 1
        WHERE id = #{id}
          AND version = #{version}
    </update>

</mapper>
